table,
tr,
th,
td {
  border: 1px solid gainsboro;
  font-weight: 500;
}

tr,
th,
td {
  padding: 5px 15px;
}

td {
  font-weight: 400;
  font-size: small;
}

.bl-action {
  display: flex;
  gap: 2px;
}
