#root {
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.content-container {
  padding: 15px;
  width: 1500px;
  display: grid;
  gap: 20px;
}

.image {
  width: 100px;
}

.o-detail {
  display: grid;
  width: 200px;
  grid-template-columns: auto auto;
}

.o-detail-text {
  font-weight: 500;
}

.o-details {
  display: flex;
  gap: 40px;
}

.blank-h1 {
  padding: 20px;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
