h1 {
    color: white;
    font-size: 3em;
    text-align: center;
    padding: 10px 20px;
    margin: 15px 0;
}

.judul {
    color: aqua;
    font-size: 3em;
    text-align: center;
    padding: 10px 20px;
    margin: 15px 0;
}