.f-container {
  padding: 20px;
  background: gainsboro;
  color: black;
  text-align: center;
  width: 100%dw;
  display: flex;
  justify-content: center;
  gap: 50px;
}

.f-text {
  font-size: 12px;
}

.f-socials {
  text-align: left;
}

.f-socials-ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 10px;
  justify-content: center;
}

.f-menus-ul {
  list-style: none;
  gap: 20px;
  text-align: left;
}

.f-menus-ul > li > a {
  text-decoration: none;
}
.f-menus-ul > li > a:hover {
  color: orangered;
}

.f-icons {
  font-size: x-large;
}

.f-icons:hover {
  color: orangered;
}

a {
  color: black;
  font-size: 12px;
}

a:hover {
  cursor: pointer;
}
