.form {
  border: 1px solid gainsboro;
  width: fit-content;
  padding: 15px;
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
}

.button {
  padding: 10px 20px;
  margin: 10px 0px;
  border: 1px solid gainsboro;
}

.button:hover {
  color: white;
  background: black;
  cursor: pointer;
}

.button:active {
  background: orangered;
}

select,
input,
textarea {
  padding: 5px;
  border: 1px solid gainsboro;
}
